<div class="container">
  <% @articles.each do |article| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <%# <div class="border-light-gray shadow mb-5 bg-white rounded"> %>
          <div class="ml-4 pt-4 helvetica-neue font-dark-gray">
            <p class="font-weight-bold mb-0"><%= link_to article.title, article_path(article) %></p>
            <p class="courier mb-1"><small>created <%= time_ago_in_words(article.created_at) %> ago, last updated <%= time_ago_in_words(article.updated_at) %> ago</small></p>
            <p class="card-text mb-2"><%= truncate(article.description, length: 100) %></p>
            <div class="mb-3">
              <% if article.categories.any? %>
                <%= render article.categories %>
              <% end %>
          </div>
            <%= link_to "Show", article_path(article), class:"btn btn-outline-dark btn-sm" %>
            <% if logged_in? && (article.user == current_user || current_user.admin?) %>
              <%= link_to 'Edit', edit_article_path(article), class:"btn btn-outline-dark btn-sm" %>
              <%= link_to 'Delete', article_path(article), class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: "Are you sure" } %>
            <% end %>
            <div class="pt-3 pb-4 helvetica-neue">
              by <%= link_to article.user.username, user_path(article.user), class:"font-weight-bold font-dark-gray" %>
            </div>
          </div>
          <div class="ml-4 solid-border"></div>
        <%# </div> %>
      </div>
    </div>
  <% end %>
</div>