<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article, class: "shadow-sm p-3 mb-3 light-bg rounded", local: true) do |f| %>
        <div class="form-group row">
          <div class="col-2">
            <%= f.label :title, "title", class: "col-form-label courier font-weight-bold" %> 
          </div>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "title of article" %>    
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <%= f.label :description, "description", class: "col-form-label courier font-weight-bold" %> 
          </div>
          <div class="col-10">
            <%= f.text_area :description, rows: 5, class: "form-control shadow rounded", placeholder: "article description" %>    
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <%= f.label :category, "category", class: "col-form-label courier font-weight-bold" %> 
          </div>
          <div class="col-10">
            <%= f.collection_select(:category_ids, Category.all, :id, :name, {prompt: "select (can leave empty):"}, {multiple: true, size: 3, class: "custom-select shadow-rounded font-dark-gray"}) %>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-dark btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to '[ Return to articles list ]', articles_path, class: "helvetica-neue font-dark-gray" %>
  </div>
</div>
